.result{
    width: 247px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 24.8%;
    border-radius: 0 0 5px 5px;
    border: 1px solid grey;
    z-index: 11;
}
.result p{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.user{
    border-bottom: 2px solid grey;
    width: 100%;
    cursor: pointer;
}